.Component {
    padding: 50px 0;

    display: flex;
    flex-direction: column;
}

.Component {
    background-color: #243139;
    color: #ffffff;
}

.Heading {
    font-weight: 500;
}

.Description {
    margin-bottom: 40px;
    line-height: 1.5em;
}

.Text, .Share {
    padding: 0 40px;
}

.Share,
.Form {
    align-self: center;
}

.Form {
    margin-bottom: 30px;
}

.Share .Text {
    font-weight: 300;
}

.Share .Text {
    padding: 0;
}

.Share .SocialServices {
    display: inline;
}

.Service {
    display: inline
}

.Service button {
    /*extends: Button from '../common/Button/styles.css';*/

    border: none;
    text-indent: -9999px;

    display: inline-block;

    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 0 0 10px;
}

@media screen and (max-width: 1279px) {
    .Heading, .Description {
        padding: 0 40px;
    }

    .Facebook {
        background-image: url(./images/Facebook-Normal.mobile.png);
    }

    .Facebook:hover {
        background-image: url(./images/Facebook-Hover.mobile.png);
    }

    .Twitter {
        background-image: url(./images/Twitter-Normal.mobile.png);
    }

    .Twitter:hover {
        background-image: url(./images/Twitter-Hover.mobile.png);
    }

    .Facebook, .Twitter {

        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: contain;

    }

}

@media screen and (min-width: 1280px) {
    .Component {
        justify-content: center;
        align-items: center;

        text-align: center;

        padding: 100px 0;
    }

    .Text, .Heading, .Description {
        padding: 0;
    }

    .Description {
        max-width: 620px;
        margin-bottom: 80px;
    }

    .Description {
        order: 2;
    }

    .Form {
        order: 1;
    }

    .Share {
        order: 3;
    }

    .Facebook {
        background-image: url(./images/Facebook-Normal.mobile.png);
    }

    .Facebook:hover {
        background-image: url(./images/Facebook-Hover.mobile.png);
    }

    .Twitter {
        background-image: url(./images/Twitter-Normal.mobile.png);
    }

    .Twitter:hover {
        background-image: url(./images/Twitter-Hover.mobile.png);
    }

    .Facebook, .Twitter {

        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: contain;

    }
}

@media screen and (min-width: 1280px)
and ((min-device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2)) {

    .Facebook {
        background-image: url(./images/Facebook-Normal.1280.2x.png);
    }

    .Facebook:hover {
        background-image: url(./images/Facebook-Hover.1280.2x.png);
    }

    .Twitter {
        background-image: url(./images/Twitter-Normal.1280.2x.png);
    }

    .Twitter:hover {
        background-image: url(./images/Twitter-Hover.1280.2x.png);
    }
}
