.ComponentWrapper {
    background-color: #f2f6f7;
}

.Component {
    padding: 50px 0 0 0;
}

@media screen and (min-width: 1280px) {
    .Component {
        padding: 0;

        position: relative;
        width: 960px;
        margin: 0 auto;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.Heading {
    margin-bottom: 25px;
    padding: 0 40px;

    font-weight: 500;
}

.Description {
    line-height: 1.5em;
    margin-bottom: 35px;
    padding: 0 40px;
}

@media screen and (min-width: 1280px) {
    .Heading, .Description {
        padding: 0;
    }

    .Text {
        width: 480px;
    }
}

@media screen and (max-width: 1279px) {
    .Iphone {
        background: url(./images/iPhone-5-White.mobile.png) bottom center no-repeat;

        background-size: contain;

        height: 338px;
        width: 314px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .Iphone {
        width: 381px;
        height: 581px;

        margin-left: -44px;

        background-image: url(./images/iPhone-5-White.1280.png);
        background-size: contain;
    }
}

@media screen and (min-width: 1280px)
and ((min-device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2)) {

    .Iphone {
        background: url(./images/iPhone-5-White.1280.2x.png);
        background-size: contain;
    }

}
