.Component {
    padding: 50px 0;
}

@media screen and (min-width: 1280px) {
    .Component {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }

    .ComponentWrapper {
        padding: 50px 0;
        background-size: 649px 439px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url(./images/Macbook.1280.png);
    }
}

@media screen and (min-width: 1280px)
and (min-device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2)
{
    .ComponentWrapper {
        background-image: url(./images/Macbook.1280.2x.png);
        background-size: 649px 439px;
    }
}


.Heading, .Description {
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .Heading, .Description {
        padding: 0 40px;
    }
}

.Heading {
    margin-bottom: 25px;

    font-weight: 500;
}

.Description {
    line-height: 1.5em;
    margin-bottom: 35px;
}

@media screen and (min-width: 1280px) {
    .Text {
        width: 450px;
    }

    .Heading, .Description {
        padding: 0;
    }
}

@media screen and (max-width: 1279px) {
    .ComponentWrapper {
        background: none;
    }

    .Image {
        width: 269px;
        height: 156px;

        margin: 0 auto;

        background-size: contain;
        background-image: url(./images/Macbook.mobile.png);
    }
}

@media screen and (min-width: 1280px) {
    .Image {
        width: 269px;
        height: 156px;
    }
}

@media screen and (min-width: 2560px) {
    .ComponentWrapper {
        background: none;
    }

    .Component {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Image {
        width: 754px;
        height: 439px;

        margin-left: 30px;

        background: url(./images/Macbook.2560.png) center center no-repeat;
        background-size: contain;
    }
}


.Button {
    extends: Button from '../common/Button/styles.css';
}

@media screen and (max-width: 1279px) {
    .Button {
        display: none;
    }
}
