.Component {
    padding: 50px 0;
}

@media screen and (min-width: 481px) {
    .Component {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }

    .ComponentWrapper {
        padding: 50px 0;
        background-size: contain;
        background: url(./images/Macbook.1280.png) right center no-repeat;
    }
}

.Heading, .Description {
    padding: 0;
}

.Heading {
    margin-bottom: 25px;

    font-weight: 500;
}

.Description {
    line-height: 1.5em;
    margin-bottom: 35px;
}

@media screen and (min-width: 481px) {
    .Text {
        width: 450px;
    }

    .Heading, .Description {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .Image {
        width: 269px;
        height: 156px;

        margin: 0 auto;

        background-size: contain;
        background-image: url(./images/Macbook.mobile.png);
    }
}

@media screen and (min-width: 481px) {
    .Image {
        width: 269px;
        height: 156px;
    }
}

.Button {
    extends: Button from '../common/Button/styles.css';
}

@media screen and (max-width: 480px) {

    .Button {
        display: none;
    }

}
