.Input {
    width: 250px;
}

@media screen and (min-width: 480px) {
    .Input {
        width: 280px;
    }
}

.Input {
    border: none;

    border-radius: 4px 0 0 4px;
}

.Input {
    padding: 12px 12px;
}

@media screen and (min-width: 1280px) {
    .Input {
        padding: 15px 32px;
    }
}

.Input:focus {
    background: transparent;
    color: #ffffff;
}

@media screen and (min-width: 1280px) {
    .Input:focus {
        background: #ffffff;
        color: #414547;
    }
}

.Input:invalid {
    color: #ff6666;
}

.Button {
    extends: Button from '../Button/styles.css';

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.Success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1280px) {
    .Success {
        flex-direction: column-reverse;
        margin-top: -15px;
    }
}

.Facebook, .Twitter {
    extends: Button from '../Button/styles.css';
}

.Facebook {
    background-color: #3563e7;
}

.Twitter {
    background-color: #25b3f3;
}

.Facebook, .Twitter {
    width: 190px;
    height: 50px;
    margin: 0 5px;
    font-size: 14px;
}

.Text {
    color: #ffffff;
    text-align: center;
    opacity: 0.6;

    margin-top: 10px;
}

@media screen and (min-width: 1280px) {
    .Text {
        margin: 5px 0;
    }
}
