.Input {
    width: 250px;
}
.Input {
    border: none;

    border-radius: 4px 0 0 4px;
}

.Input {
    padding: 12px 12px;
}

.Input:focus {
    background: transparent;
    color: #ffffff;
}

.Input:invalid {
    color: #ff6666;
}


.Button {

    extends: Button from '../Button/styles.css';

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
