.Component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Component {
    background-size: cover;
}

.Content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 481px) {

    .Component {
        height: 650px;
        background-image: url(./images/Background.1280.png);
    }

}



@media screen and (min-width: 481px)
    and (min-device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2) {
        .Component {
            background-image: url(./images/Background.1280.2x.png);
        }
    }

@media screen and (max-width: 480px) {
    .Component {
        height: 568px;
        background-image: url(./images/Background.mobile.png);
    }
}

.Logo {
    text-indent: -9999px;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .Logo {
        width: 90px;
        height: 97px;

        background-image: url(./images/Logo.mobile.png);
    }
}

@media screen and (min-width: 481px) {
    .Logo {
        width: 124px;
        height: 135px;
        background-image: url(./images/Logo.1280.png);
    }
}

@media screen and (min-width: 481px)
    and (min-device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 2), (-moz-device-pixel-ratio: 2) {
        .Logo {
            background-image: url(./images/Logo.1280.2x.png);
        }
    }

.Text {
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .Heading {
        font-size: 1.8em;
        margin: 30px 0;
    }
}

@media screen and (min-width: 481px) {
    .Heading {
        font-size: 28px;
        width: 432px;
        margin: 30px 0;
    }
}
