.Component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Component {
    background-size: cover;
}

.Content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 480px) {

    .Component {
        height: 650px;
        background-image: url(./images/Background.1280.png);
    }

}

@media screen and (max-width: 1280px) {
    .Component {
        height: 568px;
        background-image: url(./images/Background.mobile.png);
    }
}

.Logo {
    text-indent: -9999px;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .Logo {
        width: 90px;
        height: 97px;

        background-image: url(./images/Logo.mobile.png);
    }
}
@media screen and (max-width: 1280px) {
   .Logo {
        width: 124px;
       height: 135px;
       background-image: url(./images/Logo.1280.png);
        background-image: url(./images/Logo.mobile.png);
    }
}

.Text {
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .Heading {
        font-size: 1.8em;
        margin: 30px 0;
    }
}
@media screen and (max-width: 1280px) {
    .Heading {
        font-size: 28px;

        width: 432px;
        margin: 30px 0;
    }
}

.Navigation {
    width: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    color: #ffffff;
    line-height: 62px;
}
@media screen and (max-width: 1280px) {
    .Navigation {
        line-height: 70px;
    }
}

.NavigationItems {
    list-style: none;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
@media screen and (max-width: 1280px) {
    .NavigationItems {
        justify-content: center;
    }
}

.NavigationItem {
    text-align: center;
    border-bottom: transparent solid 4px;
}

@media screen and (max-width: 480px) {
    .NavigationItem {
        flex: 1;
    }
}
@media screen and (min-width: 481px){
    .NavigationItem {
        padding: 0 40px;
    }
}

.NavigationItem a {
    display: block;
}

.NavigationItem:hover {
    border-bottom-color: #2ebcea;
}
